<div class="header">
    <form class="pure-form">
        <fieldset>
            <search></search>
        </fieldset>
    </form>

</div>

<div class="content" style="max-width:none;">
    <div class="pure-g">
        <div class="pure-u-1-1">
            <table class="pure-table pure-table-horizontal pure-table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Amount</th>
                        <th>Description</th>
                        
                        <th>Tags</th>
                        <th>Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let transaction of Transactions | async">
                        <td style="width:5px;">
                            <input type="checkbox" name="transactions" />
                        </td>
                        <td>{{transaction.Amount}}</td>
                        <td>{{transaction.Description}}</td>
                        <td width="400">
                            <add-tag [transaction]="transaction" (onAddTagEvent)="addTag($event,transaction)"></add-tag>                           
                            
                            <span *ngFor="let tag of transaction.Tags">
                                {{tag}}
                            </span>
                        </td>
                        <td>{{transaction.DateCreated}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>