

*.min.css
*.min.css.map
*.csv
*.iml
*.box
*.log

.DS_Store
.sass-cache
.tm_properties
.node-version
.sbt
.sbt.*

log
logs
ivy-sbt

ivy-sbt
tmp
old
target
.target
/*/bin/

out

RUNNING_PID


local.sbt
screenshots

.eslintcache

*-spec-runner.html

bower_components
typings
app/**/*.js
app/**/*.map
node_modules
jspm_package


settings.json
**/.vscode


